.slideshow {
  display: grid;

  .text {
    position: relative;
    background-color: hsl(var(--ftb-bg-shade-hsl), .15);
    border: 1px solid rgba(white, .05);
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    margin-bottom: .8rem;

    .title {
      font-weight: bold;
      font-size: 1.125rem;
    }

    p {
      margin-top: .5rem;
      opacity: .8;
      font-size: 0.876rem;
      margin-bottom: 0;
    }
  }

  .main {
    position: relative;
    aspect-ratio: 16/9;
    background-color: hsl(var(--ftb-bg-shade-hsl), .05);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 10px 10px 0 0;

    .masker {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 1rem 0;
    }

    .item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      opacity: 0;
      transition: opacity 0.5s;

      &.active {
        opacity: 1;
        z-index: 10;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
      }
    }

    .control {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      width: 30px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 11;
      cursor: pointer;

      background-color: rgba(black, .4);
      transition: background-color ease-in-out;
      @apply rounded;
      @apply backdrop-blur-sm;
      @apply duration-300;

      &:hover {
        background-color: rgba(black, .8);
      }

      &.right {
        left: auto;
        right: 1rem;
      }
    }
  }

  .thumbnails {
    overflow-x: auto;

    .thumbnailsHolder {
      display: flex;
      gap: 1rem;
      width: fit-content;
      padding: .5rem 0;

      .thumbnail {
        display: inline-block;

        // aspect ratio 16:9
        width: 150px;
        height: 84.375px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border 0.25s ease-in-out;

        &.active {
          border-color: var(--ftb-blue);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
