# Ignore everything by default
/*

# But upload these things from the root only
!/docs
!/.gitignore
!/package.json
!/yarn.lock

# And don't upload that, no matter where they are
node_modules
.temp
.cache
.idea
.DS_Store
package-lock.json
docs/.vuepress/config.js.bak
