# Ignore everything by default
/*

# But upload these things from the root only
!/docs
!/.gitignore
!/index.md
!/package.json

# And don't upload that, no matter where they are
node_modules
.temp
.cache
.idea
.DS_Store
yarn.lock
package-lock.json
docs/.vuepress/config.js.bak